<!-- Store this code in 'index.html' file inside the 'templates' folder-->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Index </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Index</h1>
			</div>
				<h1 class="bottom">
				</br> Welcome <br><br>
					<a href="{{ url_for('display') }}" class="btn">Add Recipe</a><br><br>
					<a href="{{ url_for('recipefeed') }}" class="btn">Recipe Feed</a>
						
				</h1></br></br></br>
				<a href="{{ url_for('logout') }}" class="btn">Logout</a>
				
		</div>
		</div>
	</body>
</html> 
